$font-family-primary: 'Roboto', sans-serif;

$vtb-linear-background: linear-gradient(194deg, rgba(25, 182, 253, 0) -14.6%, rgba(25, 182, 253, 0.13) 33.61%, rgba(25, 182, 253, 0.13) 43.73%, rgba(25, 182, 253, 0.63) 67.78%, rgb(0, 158, 244) 112.11%), linear-gradient(207deg, rgb(160, 126, 255) 0.03%, rgba(152, 126, 255, 0.5) 21.54%, rgba(152, 126, 255, 0) 41.68%), linear-gradient(13deg, rgb(180, 201, 255) 43.7%, rgb(0, 77, 251) 105.89%);

$white: #ffffff;
$gray: #AAAAAA;
$gray-vtb: #E7EAF1;
$blue: #0663EE;
$green: #3EB437;
$red: #E44747;

$border-color: #ECECEC;